@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

::-webkit-input-placeholder {
  color: #a8aeb2;
}

:-ms-input-placeholder {
  color: #a8aeb2;
}

::-ms-input-placeholder {
  color: #a8aeb2;
}

::placeholder {
  color: #a8aeb2;
}

html,
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

ul,
li {
  list-style: none;
  display: inline;
}

textarea {
  border: none;
  resize: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

a,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #eff0f2;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 316px;
  padding-bottom: 186px;
}

@media screen and (max-width: 750px) {
  .header__container {
    padding-top: 250px;
    padding-bottom: 150px;
  }
}

.header__logo {
  position: absolute;
  top: 62px;
  left: 15px;
  padding: 7px;
  border-width: 5.54px;
  border-color: #170f1c;
  border-style: solid;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  margin: 0;
  color: #505050;
  line-height: 3rem;
  letter-spacing: 1.8px;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}

.header__title--decorated {
  background-color: #aae8e4;
  padding: 0 10px;
  margin: 5px;
}

@media screen and (max-width: 980px) {
  .header__title {
    font-size: 30px;
    line-height: 3rem;
  }
}

@media screen and (max-width: 750px) {
  .header__title {
    font-size: 20px;
    line-height: 2.2rem;
  }
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 232px;
  height: 53px;
  border: 2px solid #505050;
  border-radius: 2px;
  margin-top: 138px;
  cursor: pointer;
}

.header__button a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.749);
}

.header__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #505050;
  -webkit-box-shadow: 0 0 10px #505050cc;
          box-shadow: 0 0 10px #505050cc;
}

.header__button:hover a {
  color: #fff;
}

@media screen and (max-width: 360px) {
  .header__button {
    width: 80%;
    font-size: 14px;
  }
}

.header__img {
  position: absolute;
  right: 112px;
  bottom: 127px;
}

@media screen and (max-width: 1160px) {
  .header__img {
    right: 30px;
  }
}

@media screen and (max-width: 750px) {
  .header__img {
    display: none;
  }
}

.about {
  background-color: #f8fafa;
}

.about__container {
  padding-bottom: 157px;
  padding-top: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 940px) {
  .about__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.about__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  line-height: 3rem;
}

@media screen and (max-width: 750px) {
  .about__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  .about__title {
    font-size: 24px;
  }
}

.about__subtitle {
  font-family: "Merriweather", serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.62);
  letter-spacing: 2px;
  margin-bottom: 150px;
}

@media screen and (max-width: 990px) {
  .about__subtitle {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 750px) {
  .about__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .about__subtitle {
    font-size: 12px;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

.about__img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img img {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
          box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);
}

@media screen and (max-width: 700px) {
  .about__img img {
    width: 80%;
  }
}

@media screen and (max-width: 940px) {
  .about__img {
    margin-bottom: 20px;
    width: 70%;
    height: 70%;
  }
}

.about__great {
  width: 480px;
}

@media screen and (max-width: 600px) {
  .about__great {
    width: 350px;
  }
}

@media screen and (max-width: 450px) {
  .about__great {
    width: 100%;
  }
}

.about__advantages--title {
  font-family: "Merriweather", serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.62);
  text-align: left;
  color: rgba(0, 0, 0, 0.749);
  margin-bottom: 32px;
}

@media screen and (max-width: 940px) {
  .about__advantages--title {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .about__advantages--title {
    font-size: 15px;
  }
}

.about__advantages--subtitle {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.741);
  line-height: 1.75;
}

@media screen and (max-width: 600px) {
  .about__advantages--subtitle {
    font-size: 10px;
  }
}

.about__span {
  margin: 44px 0px;
}

.works {
  background-color: #fff;
}

.works__container {
  padding-top: 137px;
  padding-bottom: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 940px) {
  .works__container {
    padding-top: 50px;
  }
}

.works__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  line-height: 3rem;
}

@media screen and (max-width: 750px) {
  .works__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 560px) {
  .works__title {
    font-size: 20px;
  }
}

.works__subtitle {
  font-family: "Merriweather", serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.62);
  letter-spacing: 2px;
  margin-bottom: 122px;
}

@media screen and (max-width: 940px) {
  .works__subtitle {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 750px) {
  .works__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 560px) {
  .works__subtitle {
    font-size: 10px;
  }
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

@media screen and (max-width: 450px) {
  .works__content img {
    width: 70%;
    height: 70%;
  }
}

.team {
  background-color: #f9fbfb;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 98px;
  padding-bottom: 170px;
}

@media screen and (max-width: 940px) {
  .team__container {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.team__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  letter-spacing: 2px;
  line-height: 3rem;
}

@media screen and (max-width: 750px) {
  .team__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 580px) {
  .team__title {
    font-size: 24px;
  }
}

.team__subtitle {
  font-family: "Merriweather", serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.62);
  letter-spacing: 2px;
  margin-bottom: 122px;
}

@media screen and (max-width: 940px) {
  .team__subtitle {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 750px) {
  .team__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 580px) {
  .team__subtitle {
    font-size: 10px;
  }
}

.team__members {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.team__member {
  position: relative;
  width: 370px;
  height: 440px;
}

@media screen and (max-width: 450px) {
  .team__member {
    width: 270px;
    height: 340px;
  }
}

.team__member img {
  position: absolute;
}

@media screen and (max-width: 450px) {
  .team__member img {
    width: 270px;
    height: 340px;
  }
}

.team__member:hover .team__info {
  position: relative;
  opacity: 1;
}

.team__member:hover .team__info::before {
  opacity: 1;
}

.team__info {
  position: relative;
  width: 335px;
  height: 240px;
  margin-top: 166px;
  margin-left: 18px;
  padding: 43px 60px 43px 39px;
  background-color: #74f5eb;
  opacity: 0;
}

.team__info::before {
  content: '';
  position: absolute;
  top: -39px;
  left: 12px;
  border: 20px solid transparent;
  border-bottom: 35px solid #6ff6eb;
  opacity: 0;
}

@media screen and (max-width: 450px) {
  .team__info {
    width: 240px;
    height: 170px;
    padding-top: 25px;
    margin-top: 150px;
  }
}

.team__name {
  font-family: "Merriweather", serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.62);
  color: rgba(39, 39, 39, 0.949);
  line-height: 1.2;
  margin-bottom: 27px;
}

.team__name--decorated {
  font-size: 15px;
  font-family: "Merriweather", serif;
  font-style: italic;
  opacity: 0.5;
}

@media screen and (max-width: 450px) {
  .team__name {
    font-size: 10px;
  }
}

.team__text {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 36px;
}

@media screen and (max-width: 450px) {
  .team__text {
    font-size: 9px;
    margin-bottom: 20px;
  }
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 17px;
}

@media screen and (max-width: 450px) {
  .team__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__link i {
  font-size: 15px;
  font-family: "FontAwesome";
  color: black;
}

.team__link i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 450px) {
  .team__link i {
    font-size: 12px;
  }
}

.contacts {
  background: linear-gradient(45deg, rgba(248, 250, 251, 0.7), rgba(248, 250, 251, 0.3)), url(../img/christmas_snow_trees-wide.png);
  background-size: cover;
}

.contacts__container {
  padding-top: 120px;
  padding-bottom: 122px;
}

.contacts__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}

@media screen and (max-width: 900px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

.contacts__message {
  width: 52%;
  height: 460px;
  background: rgba(2, 22, 35, 0.71);
  padding: 30px;
}

@media screen and (max-width: 900px) {
  .contacts__message {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .contacts__message {
    width: 100%;
  }
}

.contacts__message input, .contacts__message textarea {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 13px;
}

.contacts__message input::-webkit-input-placeholder, .contacts__message textarea::-webkit-input-placeholder {
  color: #bbc0c4;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.contacts__message input:-ms-input-placeholder, .contacts__message textarea:-ms-input-placeholder {
  color: #bbc0c4;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.contacts__message input::-ms-input-placeholder, .contacts__message textarea::-ms-input-placeholder {
  color: #bbc0c4;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.contacts__message input::placeholder, .contacts__message textarea::placeholder {
  color: #bbc0c4;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.contacts__message textarea {
  height: 109px;
  margin-top: 15px;
}

.contacts__map {
  width: 42%;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px 20px 20px;
  background-color: rgba(2, 22, 35, 0.71);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(21, 21, 21, 0.16);
          box-shadow: 0px 0px 3px 0px rgba(21, 21, 21, 0.16);
}

@media screen and (max-width: 900px) {
  .contacts__map {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .contacts__map {
    width: 100%;
  }
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__button {
  width: 244px;
  height: 53px;
  border: none;
  border-radius: 2px;
  background: #6eeee4;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  margin-top: 25px;
}

@media screen and (max-width: 900px) {
  .contacts__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .contacts__button {
    font-size: 12px;
  }
}

.contacts__info {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.5rem;
}

@media screen and (max-width: 430px) {
  .contacts__info-item {
    font-size: 12px;
  }
}

.contacts__email {
  margin-top: 25px;
}

.contacts__email-item, .contacts a {
  color: rgba(255, 255, 255, 0.702);
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 430px) {
  .contacts__email-item, .contacts a {
    font-size: 12px;
  }
}

.contacts__email-item a:hover, .contacts a a:hover {
  color: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer {
  background-color: #262b2e;
}

.footer__container {
  padding-top: 93px;
  padding-bottom: 150px;
}

.footer__title {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 19px;
  text-align: center;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "FontAwesome";
  color: #faf4f4;
  line-height: 2.1;
  background-color: #8a8a8a;
  opacity: 0.4;
  width: 46px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.footer__icon:hover {
  background-color: #6eeee4;
  color: #070e0d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}

#map {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 27px;
}

.open-modal {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.open-modal:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal__content {
  margin: auto;
  display: block;
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@media only screen and (max-width: 700px) {
  .modal__content {
    width: 60%;
  }
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal__close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
